<header id="header" class="header">
  <h2 class="title">Tasks</h2>
</header>

<div class="container">
  <table id="principal-table" class="table table-hover ">
    <tbody>
      <% @lists.each do |list| %>
        <% if list.status %>
          <tr class="table-secondary">
            <td class="striker"><%= link_to list.task, edit_list_path(list)%></td>
            <td >
              <center>
                <%= form_for(list) do |f| %>
                <%= f.text_field :task, type: 'hidden'%>
                <%= f.check_box :status, :checked => false, :style => 'visibility: hidden'%>
                <%= f.submit "Completed Task", class:"btn btn-outline-secondary "%>
                <% end%>
              </center>
            </td>
            <td>
                <%= link_to 'Delete', list,class: 'btn btn-outline-warning',
                                      method: :delete,data: {confirm: 'Are u sure?'} %> 
            </td>
          </tr>
        <% else%>
          <tr >
            <td class="striker-1"><%= link_to list.task, edit_list_path(list)%></td>
            <td>
              <center>
                <%= form_for(list) do |f| %>
                <%= f.text_field :task, type: 'hidden'%>
                <%= f.check_box :status, :checked => true, :style => 'visibility: hidden'%>
                <%= f.submit "Complete Task", class:'btn btn-outline-secondary' %>
                <% end%>
              </center>
            </td>
            <td>
                <%= link_to 'Destroy', list,class: 'btn btn-outline-danger', 
                                        method: :delete,data: { confirm: 'Are you sure?'} %>
            </td>
          </tr>
        <% end%>
      <% end %>
    </tbody>
  </table>
</div>
<br>


<footer id="footer">
  <div class="center">
    <p>
      &copy: To-do By Nagûûra
    </p>
  </div>
  
</footer>